﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Donor App</h1>
    <h3>Do you want to save a life?</h3>
    <partial name="signinfo" />
</div>
