﻿@model List<UserRoleModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _httpContext;
@{
    var id = ViewBag.roleId;

}


<div class="row">
    <div class="col-lg-6 offset-3">

        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h2>Add or Remove User To Role</h2>
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].UserId">
                            <input type="hidden" asp-for="@Model[i].UserName">
                            @if (_userManager.GetUserId(User) == Model[i].UserId)
                            {
                                <input asp-for="@Model[i].IsSelected" type="hidden" class="form-check-input">

                            }
                            else
                            {
                                <input asp-for="@Model[i].IsSelected" class="form-check-input">
                                <label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
                            }
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Update">
                    <a asp-action="getRolelist" asp-controller="Authorization" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>