﻿@model List<BloodDonorApp.Models.ApplicationUser>

@{
    ViewData["Title"] = "GetDonorList";
}

<h1>GetDonorList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Blood Group
            </th>
            
            <th>
                Last Donated
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDonated)
            </td>
           
        </tr>
}
    </tbody>
</table>
