﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <h3>You are doing a great job.</h3>
}
else
{
    <a href="SignUp">Join Now</a>
}